{% extends 'adm_base.html.twig' %}
{% set page_title = "Edit Page" %}

{% block title %}Edit {{page.name}}{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Edit  {{page.name}}</h4>
                        <p class="sub-header">
                            This is one of the pages in the public website that people can visit. e.g Homepage, About page etc.
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                            {{ include('page/_form.html.twig', {'button_label': 'Update'}) }}

                            <a href="{{ path('app_page_index') }}">back to list</a>

                            {{ include('page/_delete_form.html.twig') }}
                            </div> <!-- end col -->

                        </div>
                        <!-- end row-->

                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>

    

{% endblock %}
