{% extends 'adm_base.html.twig' %}
{% set page_title = "Pages List" %}

{% block title %}Pages List{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Pages list</h4>
                        <p class="sub-header">
                            These are the pages in the public website that people can visit.
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Url</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for page in pages %}
                                        <tr>
                                            <td>{{ page.id }}</td>
                                            <td>{{ page.name }}</td>
                                            <td>{{ page.url }}</td>
                                            <td>
                                                <a href="{{ path('app_page_show', {'id': page.id}) }}">show</a>
                                                <a href="{{ path('app_page_edit', {'id': page.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <a href="{{ path('app_page_new') }}">Create new</a>
                            </div> <!-- end col -->

                        </div>
                        <!-- end row-->

                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>

    

{% endblock %}
