{% extends 'adm_base.html.twig' %}
{% set page_title = "Web Page" %}

{% block title %}{{page.name}}{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">{{page.name}}</h4>
                        <p class="sub-header">
                            This is one of the pages in the public website that people can visit.
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Id</th>
                                            <td>{{ page.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <td>{{ page.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Url</th>
                                            <td>{{ page.url }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <a href="{{ path('app_page_index') }}">back to list</a>

                                <a href="{{ path('app_page_edit', {'id': page.id}) }}">edit</a>

                                {{ include('page/_delete_form.html.twig') }}
                            </div> <!-- end col -->

                        </div>
                        <!-- end row-->

                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>

    

{% endblock %}
