{% extends 'base.html.twig' %}

{% block title %}BlogCategory index{% endblock %}

{% block body %}
    <h1>BlogCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog_category in blog_categories %}
            <tr>
                <td>{{ blog_category.id }}</td>
                <td>{{ blog_category.name }}</td>
                <td>{{ blog_category.slug }}</td>
                <td>
                    <a href="{{ path('app_blog_category_show', {'id': blog_category.id}) }}">show</a>
                    <a href="{{ path('app_blog_category_edit', {'id': blog_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blog_category_new') }}">Create new</a>
{% endblock %}
