{% extends 'base.html.twig' %}

{% block title %}BlogCategory{% endblock %}

{% block body %}
    <h1>BlogCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ blog_category.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ blog_category.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_blog_category_index') }}">back to list</a>

    <a href="{{ path('app_blog_category_edit', {'id': blog_category.id}) }}">edit</a>

    {{ include('blog_category/_delete_form.html.twig') }}
{% endblock %}
