<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Log In | Baby Blossom Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Baby blossom description." name="description" />
        <meta content="Susan Wangui" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{asset('favicon.ico')}}">

        <!-- Bootstrap Css -->
        {# <link href="{{ asset('adm/assets/css/bootstrap.min.css') }}" id="bootstrap-stylesheet" rel="stylesheet" type="text/css" /> #}
        <!-- Icons Css -->
        <link href="{{ asset('adm/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ asset('adm/assets/css/app.min.css') }}" id="app-stylesheet" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
        <script src="{{asset('libs/jquery/jquery.min.js')}}"></script>

    </head>

    <body class="loading authentication-bg authentication-bg-pattern">

        <div class="account-pages my-5">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="text-center">   
                            <a href="index.html">
                                <img src="/adm/assets/images/logo-dark.png" alt="" height="52" class="mx-auto">
                            </a>
                            <p class="text-muted mt-2 mb-1">Welcome back. Sign in to continue.</p>

                        </div>
                        <div class="card">
                            <div class="card-body p-4">
                                
                                <div class="text-center mb-4">
                                    <h4 class="text-uppercase mt-0">Sign In</h4>
                                </div>

                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}

                                    <div class="mb-3">
                                        <label for="inputEmail" class="form-label">Email address</label>
                                        <input class="form-control" value="{{ last_username }}" name="email" type="email" id="inputEmail"  autocomplete="email" required autofocus placeholder="Enter your email">
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputPassword" class="form-label">Password</label>
                                        <input class="form-control" name="password" type="password" required="" id="inputPassword" placeholder="Enter your password" autocomplete="current-password">
                                    </div>

                                    <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}"
                                    >

                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" name="_remember_me" class="form-check-input" id="checkbox-signin" checked>
                                            <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                        </div>
                                    </div>

                                    <div class="mb-3 d-grid text-center">
                                        <button class="btn btn-primary" type="submit"> Log In </button>
                                    </div>
                                </form>

                            </div> <!-- end card-body -->
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p> <a href="{{path('app_forgot_password_request')}}" class="text-muted ms-1"><i class="fa fa-lock me-1"></i>Forgot your password?</a></p>
                                <p class="text-muted">Don't have an account? <a href="{{path('app_register')}}" class="text-dark ms-1"><b>Sign Up</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        </div>
                        <!-- end card -->

                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <!-- Vendor -->
        <script src="{{ asset('adm/assets/js/vendor.min.js') }}"></script>
        <script src="{{ asset('libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('libs/simplebar/simplebar.min.js') }}"></script>
        <script src="{{ asset('libs/node-waves/waves.min.js') }}"></script>
        <script src="{{ asset('libs/waypoints/lib/jquery.waypoints.min.js') }}"></script>
        <script src="{{ asset('libs/jquery.counterup/jquery.counterup.min.js') }}"></script>
        <script src="{{ asset('libs/feather-icons/feather.min.js') }}"></script>

        <!-- knob plugin -->
        <script src="{{ asset('libs/jquery-knob/jquery.knob.min.js') }}"></script>

        <!--Morris Chart-->
        {# <script src="{{ asset('adm/assets/libs/morris-js/morris.min.js') }}"></script> #}
        {# <script src="{{ asset('adm/assets/libs/raphael/raphael.min.js') }}"></script> #}

        <!-- Dashboard init js-->
        {# <script src="{{ asset('adm/assets/js/pages/dashboard.init.js') }}"></script> #}

        <script src="{{asset('assets/js/bootstrap-notify.min.js')}}"></script>
        <script src="{{ asset('adm/assets/js/app.min.js') }}"></script>

        
    </body>
</html>