<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Email Sent</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Baby blossom description." name="description" />
        <meta content="Susan Wangui" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{asset('favicon.ico')}}">

        <!-- Bootstrap Css -->
        {# <link href="{{ asset('adm/assets/css/bootstrap.min.css') }}" id="bootstrap-stylesheet" rel="stylesheet" type="text/css" /> #}
        <!-- Icons Css -->
        <link href="{{ asset('adm/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ asset('adm/assets/css/app.min.css') }}" id="app-stylesheet" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
        <script src="{{asset('libs/jquery/jquery.min.js')}}"></script>

    </head>

    <body class="loading authentication-bg authentication-bg-pattern">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="card bg-pattern">

                            <div class="card-body p-4">
                                
                                <div class="text-center w-75 m-auto">
                                    <div class="auth-logo">
                                        <a href="index.html" class="logo logo-dark text-center">
                                            <span class="logo-lg">
                                                <img src="/adm/assets/images/logo-dark.png" alt="" height="52">
                                            </span>
                                        </a>
                    
                                        <a href="index.html" class="logo logo-light text-center">
                                            <span class="logo-lg">
                                                <img src="/adm/assets/images/logo-light.png" alt="" height="52">
                                            </span>
                                        </a>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <div class="mt-4">
                                        <div class="logout-checkmark">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                                <circle class="path circle" fill="none" stroke="#4bd396" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                                <polyline class="path check" fill="none" stroke="#4bd396" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                                            </svg>
                                        </div>
                                    </div>

                                    <h3>See you again !</h3>

                                    <p class="text-muted"> You are now successfully sign out. </p>
                                </div>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">Back to <a href="{{path('app_login')}}" class="text-dark ms-1"><b>Sign In</b></a></p>
                                <p class="text-muted">Back to <a href="{{path('app_default')}}" class="text-dark ms-1"><b>Home Page</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <!-- Vendor -->
        <script src="{{ asset('adm/assets/js/vendor.min.js') }}"></script>
        <script src="{{ asset('libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('libs/simplebar/simplebar.min.js') }}"></script>
        <script src="{{ asset('libs/node-waves/waves.min.js') }}"></script>
        <script src="{{ asset('libs/waypoints/lib/jquery.waypoints.min.js') }}"></script>
        <script src="{{ asset('libs/jquery.counterup/jquery.counterup.min.js') }}"></script>
        <script src="{{ asset('libs/feather-icons/feather.min.js') }}"></script>

        <!-- knob plugin -->
        <script src="{{ asset('libs/jquery-knob/jquery.knob.min.js') }}"></script>

        <!--Morris Chart-->
        {# <script src="{{ asset('adm/assets/libs/morris-js/morris.min.js') }}"></script> #}
        {# <script src="{{ asset('adm/assets/libs/raphael/raphael.min.js') }}"></script> #}

        <!-- Dashboard init js-->
        {# <script src="{{ asset('adm/assets/js/pages/dashboard.init.js') }}"></script> #}

        <script src="{{asset('assets/js/bootstrap-notify.min.js')}}"></script>
        <script src="{{ asset('adm/assets/js/app.min.js') }}"></script>
        
    </body>
</html>