<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Email Sent</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Baby blossom description." name="description" />
        <meta content="Susan Wangui" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{asset('favicon.ico')}}">

        <!-- Bootstrap Css -->
        {# <link href="{{ asset('adm/assets/css/bootstrap.min.css') }}" id="bootstrap-stylesheet" rel="stylesheet" type="text/css" /> #}
        <!-- Icons Css -->
        <link href="{{ asset('adm/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ asset('adm/assets/css/app.min.css') }}" id="app-stylesheet" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
        <script src="{{asset('libs/jquery/jquery.min.js')}}"></script>

    </head>

    <body class="loading authentication-bg authentication-bg-pattern">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="text-center">
                            <a href="index.html">
                                <img src="/adm/assets/images/logo-dark.png" alt="" height="52" class="mx-auto">
                            </a>
                            <p class="text-muted mt-2 mb-4">Email Successfuly Sent!</p>
                        </div>
                        <div class="card text-center">

                            <div class="card-body p-4">
                                
                                <div class="mb-4">
                                    <h4 class="text-uppercase mt-0">Confirm Email</h4>
                                </div>
                                <img src="/adm/assets/images/mail_confirm.png" alt="img" width="86" class="mx-auto d-block" />

                                <p>
                                    If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                                    This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                                </p>
                                <p>If you don't receive an email please check your spam folder or:</p>
                                <a class="btn d-block btn-pink waves-effect waves-light mt-3" href="{{ path('app_forgot_password_request') }}">Try Again</a>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <!-- Vendor -->
        <script src="{{ asset('adm/assets/js/vendor.min.js') }}"></script>
        <script src="{{ asset('libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('libs/simplebar/simplebar.min.js') }}"></script>
        <script src="{{ asset('libs/node-waves/waves.min.js') }}"></script>
        <script src="{{ asset('libs/waypoints/lib/jquery.waypoints.min.js') }}"></script>
        <script src="{{ asset('libs/jquery.counterup/jquery.counterup.min.js') }}"></script>
        <script src="{{ asset('libs/feather-icons/feather.min.js') }}"></script>

        <!-- knob plugin -->
        <script src="{{ asset('libs/jquery-knob/jquery.knob.min.js') }}"></script>

        <!--Morris Chart-->
        {# <script src="{{ asset('adm/assets/libs/morris-js/morris.min.js') }}"></script> #}
        {# <script src="{{ asset('adm/assets/libs/raphael/raphael.min.js') }}"></script> #}

        <!-- Dashboard init js-->
        {# <script src="{{ asset('adm/assets/js/pages/dashboard.init.js') }}"></script> #}

        <script src="{{asset('assets/js/bootstrap-notify.min.js')}}"></script>
        <script src="{{ asset('adm/assets/js/app.min.js') }}"></script>
        
        
    </body>

</html>