                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                               {#{"now"|date('Y')}#} &copy; System developed by <a href="https://muske.co.ke/maestrojosiah">Maestrojosiah</a> 
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="{#{path('about')}#}">About Us</a>
                                    <a href="{#{path('contacts')}#}">Help</a>
                                    <a href="{#{path('contacts')}#}">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
