<form method="post" action="{{ path('app_section_delete', {'id': section.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
    <button class = "btn btn-danger">Delete</button>
</form>
