{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group mb-4">
                <label>Page</label>
                {{ form_widget(form.page, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Which page?.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group mb-4">
                <label>Name</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Name of the section.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group mb-4">
                <label>Position</label>
                {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Where it will be in order.</span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group mb-4">
                <label>Updated On</label>
                {{ form_widget(form.lastUpdated.date, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Date of last update to this section.</span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group mb-4">
                <label>Updated At</label>
                {{ form_widget(form.lastUpdated.time, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Time of last update to this section.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="checkbox">
            {{ form_widget(form.visible, {'attr': {'class': 'form-check-input'}}) }}
                <label for="section_visible">
                    Visible?
                </label>
                <span class="help-block">Is it visible to the public?.</span>                
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group mb-4">
                <label>Typography</label>
                {{ form_widget(form.typography, {'attr': {'class': 'form-control', 'rows': '20'}}) }}
                <span class="help-block">Content of the section.</span>
            </div>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-success btn-lg">{{ button_label|default('Save Section') }}</button>
<hr />
{{ form_end(form) }}
    
<div class="row content_spans" style="display:none" id="content_spans">

    <div class="col-lg-12">
        <div class="form-group mb-4 rendered">
            <label>Rendered</label>
            <div>{{section.typography|raw}}</div>
        </div>
    </div>

</div>