{% extends 'adm_base.html.twig' %}
{% set page_title = "New Section" %}

{% block title %}New Section{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/timepicker/css/timepicker.css')}}" />
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">New Section</h4>
                        <p class="sub-header">
                            This will be a section of a page in the public site that will contain a certain information.
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                                {{ include('section/_form.html.twig') }}

                                <a href="{{ path('app_section_index') }}">back to list</a>
                            </div> <!-- end col -->

                        </div>
                        <!-- end row-->

                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>

    

{% endblock %}
{% block javascripts %}

    <script src="{{asset('assets/datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/timepicker/js/timepicker.js')}}"></script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('#section_lastUpdated_date').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>    
    <script type="text/javascript">
        $(function () {
    
            $('#section_lastUpdated_time').timepicker();
    
        });
    </script>

{% endblock %}