{% extends 'adm_base.html.twig' %}
{% set page_title = "Show Section" %}

{% block title %}Show Section{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/timepicker/css/timepicker.css')}}" />
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Show Section</h4>
                        <p class="sub-header">
                            This is a section of a page in the public site that will contain a certain information.
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Id</th>
                                            <td>{{ section.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <td>{{ section.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Typography</th>
                                            <td><pre>{{ section.typography }}</pre></td>
                                        </tr>
                                        <tr>
                                            <th>Position</th>
                                            <td>{{ section.position }}</td>
                                        </tr>
                                        <tr>
                                            <th>Visible</th>
                                            <td>{{ section.visible ? 'Yes' : 'No' }}</td>
                                        </tr>
                                        <tr>
                                            <th>LastUpdated</th>
                                            <td>{{ section.lastUpdated ? section.lastUpdated|date('Y-m-d H:i:s') : '' }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <a href="{{ path('app_section_index') }}">back to list</a>

                                <a href="{{ path('app_section_edit', {'id': section.id}) }}">edit</a>

                                {{ include('section/_delete_form.html.twig') }}
                            </div> <!-- end col -->

                        </div>
                        <!-- end row-->

                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>

    

{% endblock %}
