{% extends 'adm_base.html.twig' %}

{% block title %}Assign roles{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
</style>
{% endblock %}

{% block body %}


                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mt-0 header-title">Permissions</h4>
                                        <p class="text-muted font-14 mb-3">
                                            Assign different roles to users.
                                        </p>
    
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <h5 class="mb-3">Assign permissions</h5>
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item">
                                                        <a href="#students" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                            <span class="d-none d-sm-block">Normal</span>            
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#admins" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                            <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                                            <span class="d-none d-sm-block">Admins</span>    
                                                        </a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane fade show active" id="students">
                                                        {# <a class="btn btn-sm btn-primary" href="">Excel</a>
                                                        <a class="btn btn-sm btn-primary" href="">PDF</a> #}
                                                        <table class="card-box table datatable">
                                                            <thead>
                                                                <tr>
                                                                <th scope="col">Full name</th>
                                                                <th scope="col">Email</th>
                                                                <th scope="col">Phone</th>
                                                                <th scope="col">Role</th>
                                                                <th scope="col">Activation</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for norm in normal %}
                                                                <tr>
                                                                <th scope="row">{{norm.fullname}}</th>
                                                                <td>{{norm.email}}</td>
                                                                <td>{{ norm.phone is not null ? norm.phone : 'null'}}</td>
                                                                <td><a class="btn btn-sm btn-primary" href="{{path('add_role', {'usertype': 'normal', 'user_id': norm.id, 'roletype': 'ROLE_NORMAL' })}}">{% if 'ROLE_NORMAL' in student.roles %} Remove {% else %} Add {% endif %} Normal Role</a></td>
                                                                <td>
                                                                <a class="btn btn-sm btn-{{norm.active ? 'danger' : 'success'}}" href="{{path('toggle_activate', {'user_id': norm.id })}}">{% if norm.active %} Deactivate {% else %} Activate {% endif %} Normal User</a>
                                                                {% if norm.active == true %}
                                                                    <a class="btn btn-info" href="{{path('norm-edit-admin', {'norm_id': norm.id})}}">Edit</a>
                                                                {% elseif norm.active == false %}
                                                                    <a class="btn btn-warning" href="{{path('norm_delete', {'norm_id': norm.id})}}" onclick="return confirm('Are you sure you want to delete {{norm.fullname}}?');">Delete</a>
                                                                {% endif %}
                                                                </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="admins">
                                                        {# <a class="btn btn-sm btn-primary" href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-admin'})}}">Excel</a>
                                                        <a class="btn btn-sm btn-primary" href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-admin'})}}">PDF</a> #}
                                                        <table class="card-box table datatable">
                                                            <thead>
                                                                <tr>
                                                                <th scope="col">Full name</th>
                                                                <th scope="col">email</th>
                                                                <th scope="col">roles</th>
                                                                <th scope="col">Manage</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for admin in admins %}
                                                                <tr>
                                                                <th scope="row">{{admin.fullname}}</th>
                                                                <td>{{admin.email}}</td>
                                                                <td>{% for role in admin.roles %} {{role}} {% endfor %}</td>
                                                                <td><a class="btn btn-sm btn-primary" href="{{path('add_role', {'usertype': 'admin', 'user_id': admin.id, 'roletype': 'ROLE_ADMIN' })}}">{% if 'ROLE_ADMIN' in admin.roles %} Remove {% else %} Add {% endif %} Admin Role</a></td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div><!-- end col -->

                                        </div>

                                    </div>
                                </div>
                               
                            </div>
                        </div> <!-- end row -->
                        
                    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>
{% endblock %}