<form method="post" action="{{ path('app_navigation_delete', {'id': navigation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ navigation.id) }}">
    <button class = "btn btn-danger">Delete</button>
</form>
