{% extends 'adm_base.html.twig' %}
{% set page_title = "Navigation Links" %}

{% block title %}Navigation Links{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Navigation Links</h4>
                        <p class="sub-header">
                            These are the links in the public site on which people will click to visit different pages.
                            <a href="{{ path('app_navigation_new') }}">create new</a>
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Link</th>
                                            <th>HasChildren</th>
                                            <th>Position</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for navigation in navigations %}
                                        <tr>
                                            <td>{{ navigation.id }}</td>
                                            <td>{{ navigation.name }}</td>
                                            <td>{{ navigation.link }}</td>
                                            <td>
                                                {{ navigation.hasChildren ? 'Yes' : 'No' }}
                                                {% if navigation.hasChildren == true %}
                                                <a href="{{ path('app_nav_child_new', {'navigation_id': navigation.id}) }}">Add</a>
                                                <a href="{{ path('app_nav_child_index') }}">List</a>
                                                {% endif %}
                                            </td>
                                            <td>{{ navigation.position }}</td>
                                            <td>
                                                <a href="{{ path('app_navigation_show', {'id': navigation.id}) }}">show</a>
                                                <a href="{{ path('app_navigation_edit', {'id': navigation.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a href="{{ path('app_navigation_new') }}">create new</a>
                            </div> <!-- end col -->

                        </div>
                        <!-- end row-->

                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>


{% endblock %}
