{% extends 'adm_base.html.twig' %}
{% set page_title = "New Navigation" %}

{% block title %}New Navigation Link{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">New Navigation Link</h4>
                        <p class="sub-header">
                            This will be one of the links in the public site on which people will click to visit different pages.
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                                {{ include('navigation/_form.html.twig', {'button_label': 'Update'}) }}

                                <a href="{{ path('app_navigation_index') }}">back to list</a>

                            </div> <!-- end col -->

                        </div>
                        <!-- end row-->

                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>

    

{% endblock %}
