{% extends 'adm_base.html.twig' %}
{% set page_title = "New Navigation" %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Navigation Link</h4>
                        <p class="sub-header">
                            This is one of the links in the public site on which people will click to visit different pages.
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Id</th>
                                            <td>{{ navigation.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <td>{{ navigation.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Link</th>
                                            <td>{{ navigation.link }}</td>
                                        </tr>
                                        <tr>
                                            <th>HasChildren</th>
                                            <td>{{ navigation.hasChildren ? 'Yes' : 'No' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Position</th>
                                            <td>{{ navigation.position }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <a href="{{ path('app_navigation_index') }}">back to list</a>

                                <a href="{{ path('app_navigation_edit', {'id': navigation.id}) }}">edit</a>

                                {{ include('navigation/_delete_form.html.twig') }}

                            </div> <!-- end col -->

                        </div>
                        <!-- end row-->

                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>


{% endblock %}
