<form method="post" action="{{ path('app_web_photos_delete', {'id': web_photo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ web_photo.id) }}">
    <button class = "btn btn-danger">Delete</button>
</form>
