{% extends 'base.html.twig' %}

{% block title %}Edit WebPhotos{% endblock %}

{% block body %}
    <h1>Edit WebPhotos</h1>

    {{ include('web_photos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_web_photos_index') }}">back to list</a>

    {{ include('web_photos/_delete_form.html.twig') }}
{% endblock %}
