{% extends 'base.html.twig' %}

{% block title %}WebPhotos index{% endblock %}

{% block body %}
    <h1>WebPhotos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Placement</th>
                <th>Alt</th>
                <th>Thumbnail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for web_photo in web_photos %}
            <tr>
                <td>{{ web_photo.id }}</td>
                <td>{{ web_photo.url }}</td>
                <td>{{ web_photo.placement }}</td>
                <td>{{ web_photo.alt }}</td>
                <td>{{ web_photo.thumbnail }}</td>
                <td>
                    <a href="{{ path('app_web_photos_show', {'id': web_photo.id}) }}">show</a>
                    <a href="{{ path('app_web_photos_edit', {'id': web_photo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_web_photos_new') }}">Create new</a>
{% endblock %}
