{% extends 'base.html.twig' %}

{% block title %}New WebPhotos{% endblock %}

{% block body %}
    <h1>Create new WebPhotos</h1>

    {{ include('web_photos/_form.html.twig') }}

    <a href="{{ path('app_web_photos_index') }}">back to list</a>
{% endblock %}
