{% extends 'base.html.twig' %}

{% block title %}WebPhotos{% endblock %}

{% block body %}
    <h1>WebPhotos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ web_photo.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ web_photo.url }}</td>
            </tr>
            <tr>
                <th>Placement</th>
                <td>{{ web_photo.placement }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ web_photo.alt }}</td>
            </tr>
            <tr>
                <th>Thumbnail</th>
                <td>{{ web_photo.thumbnail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_web_photos_index') }}">back to list</a>

    <a href="{{ path('app_web_photos_edit', {'id': web_photo.id}) }}">edit</a>

    {{ include('web_photos/_delete_form.html.twig') }}
{% endblock %}
