<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>{% block title %}Baby Blossom{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ asset('site/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900%7CLato:100,300,400,700,900%7CKalam:300,400,700">
    <link rel="stylesheet" href="{{ asset('site/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('site/css/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('site/css/style.css') }}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    <style>
      .sec {
        position: relative;
        min-height: 50px;
      }
      .save-changes-btn {
        position: absolute;
        top:0;
        right:0;
      }
      .attach-bottom {
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        z-index: 1000;
      }
      .attach-bottom form {
        z-index: 3000;        
      }
      .swal2-container {
        z-index: 100000!important;
      }
      #left-align{
        width: 50% !important;
        float: left;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;      
      }
      #right-align{
        width: 50% !important;
        float: right;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;      
      }
      .form-text {
        color:#a3a3a3;
        font-size:.8em;
      }
      .mb-3 {
        margin-bottom:1.2rem;
      }
    </style>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/site/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-bell">
          <div class="cssload-circle">
            <div class="cssload-inner"></div>
          </div>
          <div class="cssload-circle">
            <div class="cssload-inner"></div>
          </div>
          <div class="cssload-circle">
            <div class="cssload-inner"></div>
          </div>
          <div class="cssload-circle">
            <div class="cssload-inner"></div>
          </div>
          <div class="cssload-circle">
            <div class="cssload-inner"></div>
          </div>
        </div>
      </div>
    </div>

        {% block page %}{% endblock %}

    <div class="snackbars" id="form-output-global"></div>
    <script src="{{ asset('site/js/core.min.js') }}"></script>
    <script src="{{ asset('site/js/script.js') }}"></script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>