{% extends 'base.html.twig' %}

{% block title %}Edit NavChild{% endblock %}

{% block body %}
    <h1>Edit NavChild</h1>

    {{ include('nav_child/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nav_child_index') }}">back to list</a>

    {{ include('nav_child/_delete_form.html.twig') }}
{% endblock %}
