{% extends 'base.html.twig' %}

{% block title %}NavChild index{% endblock %}

{% block body %}
    <h1>NavChild index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nav_child in nav_children %}
            <tr>
                <td>{{ nav_child.id }}</td>
                <td>{{ nav_child.name }}</td>
                <td>{{ nav_child.link }}</td>
                <td>{{ nav_child.position }}</td>
                <td>
                    <a href="{{ path('app_nav_child_show', {'id': nav_child.id}) }}">show</a>
                    <a href="{{ path('app_nav_child_edit', {'id': nav_child.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nav_child_new') }}">Create new</a>
{% endblock %}
