{% extends 'base.html.twig' %}

{% block title %}New NavChild{% endblock %}

{% block body %}
    <h1>Create new NavChild</h1>

    {{ include('nav_child/_form.html.twig') }}

    <a href="{{ path('app_nav_child_index') }}">back to list</a>
{% endblock %}
