{% extends 'base.html.twig' %}

{% block title %}NavChild{% endblock %}

{% block body %}
    <h1>NavChild</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nav_child.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ nav_child.name }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ nav_child.link }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ nav_child.position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nav_child_index') }}">back to list</a>

    <a href="{{ path('app_nav_child_edit', {'id': nav_child.id}) }}">edit</a>

    {{ include('nav_child/_delete_form.html.twig') }}
{% endblock %}
