<form method="post" action="{{ path('app_configuration_delete', {'id': configuration.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ configuration.id) }}">
    <button class = "btn btn-danger">Delete</button>
</form>
