{% extends 'adm_base.html.twig' %}
{% set page_title = "New Configuration" %}

{% block title %}New Configuration{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Let's get started</h4>
                        <p class="sub-header">
                            This application will need some information for efficiency. Fill in the information below to get started..
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                                {{ include('configuration/_form.html.twig', {'button_label': 'Update'}) }}

                                <a href="{{ path('app_configuration_index') }}">back to list</a>

                                {{ include('configuration/_delete_form.html.twig') }}

                            </div> <!-- end col -->

                        </div>
                        <!-- end row-->

                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>

{% endblock %}
