{% extends 'base.html.twig' %}

{% block title %}Configuration index{% endblock %}

{% block body %}
    <h1>Configuration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CompanyName</th>
                <th>SiteEmail</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Telephone</th>
                <th>FacebookId</th>
                <th>TwitterId</th>
                <th>WebsiteTheme</th>
                <th>CompanyLogo</th>
                <th>InvoiceLogo</th>
                <th>ShortDate</th>
                <th>TimeFormat</th>
                <th>LongDate</th>
                <th>DefTimeZone</th>
                <th>DefLocale</th>
                <th>WeekStartsOn</th>
                <th>InvoiceHeader</th>
                <th>InvoiceFooter</th>
                <th>SiteOffLine</th>
                <th>ItemsPerPage</th>
                <th>InvoicePageFormat</th>
                <th>DefaultCurrency</th>
                <th>ShowSlider</th>
                <th>SiteMetaKeywords</th>
                <th>SiteDescription</th>
                <th>NewsLength</th>
                <th>TelephoneAlt</th>
                <th>EmailAlt</th>
                <th>InstagramId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for configuration in configurations %}
            <tr>
                <td>{{ configuration.id }}</td>
                <td>{{ configuration.companyName }}</td>
                <td>{{ configuration.siteEmail }}</td>
                <td>{{ configuration.address }}</td>
                <td>{{ configuration.city }}</td>
                <td>{{ configuration.state }}</td>
                <td>{{ configuration.country }}</td>
                <td>{{ configuration.telephone }}</td>
                <td>{{ configuration.facebookId }}</td>
                <td>{{ configuration.TwitterId }}</td>
                <td>{{ configuration.websiteTheme }}</td>
                <td>{{ configuration.companyLogo }}</td>
                <td>{{ configuration.invoiceLogo }}</td>
                <td>{{ configuration.shortDate }}</td>
                <td>{{ configuration.timeFormat }}</td>
                <td>{{ configuration.longDate }}</td>
                <td>{{ configuration.defTimeZone }}</td>
                <td>{{ configuration.defLocale }}</td>
                <td>{{ configuration.weekStartsOn }}</td>
                <td>{{ configuration.invoiceHeader }}</td>
                <td>{{ configuration.invoiceFooter }}</td>
                <td>{{ configuration.siteOffLine ? 'Yes' : 'No' }}</td>
                <td>{{ configuration.itemsPerPage }}</td>
                <td>{{ configuration.invoicePageFormat }}</td>
                <td>{{ configuration.defaultCurrency }}</td>
                <td>{{ configuration.showSlider }}</td>
                <td>{{ configuration.siteMetaKeywords }}</td>
                <td>{{ configuration.siteDescription }}</td>
                <td>{{ configuration.newsLength }}</td>
                <td>{{ configuration.telephoneAlt }}</td>
                <td>{{ configuration.emailAlt }}</td>
                <td>{{ configuration.instagramId }}</td>
                <td>
                    <a href="{{ path('app_configuration_show', {'id': configuration.id}) }}">show</a>
                    <a href="{{ path('app_configuration_edit', {'id': configuration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="32">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_configuration_new') }}">Create new</a>
{% endblock %}
